<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view_feedbck">

        </activity>
        <activity android:name=".Home" />
        <activity android:name=".order_summary" />
        <activity android:name=".add_more_details" />
        <activity android:name=".CakeologyCakes" />
        <activity android:name=".AddDetails" />
        <activity android:name=".AddItems" />
        <activity android:name=".signIn"></activity>
        <activity android:name=".UserProfile" />
        <activity android:name=".Payment" />
        <activity android:name=".Checkout" />
        <activity android:name=".Addtocart" ></activity>
        <activity android:name=".feedback" ></activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>